image:
  repository: ghcr.io/your-user/devops-exam-app
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

resources: {}

serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 10s

metrics:
  path: /metrics

grafanaDashboard:
  enabled: true
